img {
  max-width: 100%;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-indent: 0;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

svg {
  flex: none;
}

h1,
h2,
h3,
h5,
h6 {
}
