@import "../abstract/index";

.swal2-popup {
  border-radius: 0;
}
.swal2-title {
  color: $text-color;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(24px);
}
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-deny {
  background: #3085d6;
  border-radius: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  @include can-hover() {
    &:not(:disabled) {
      &:hover {
        filter: brightness(0.8);
        box-shadow: 0 10px 10px $shadow;
      }
    }
  }
}
.swal2-styled.swal2-deny {
  background: $gray-300;
}
