$black: #000;
$white: #fff;
$gray-50: #E8E6E6;
$gray-100: #DFDDDE;
$gray-200: #D0D0D0;
$gray-300: #B3B3B3;
$blue-200: #00adbb;
$blue-600: #003F62;
$blue-800: #2c3e50;
$green-100: #08a130;
$green-200: #04912a;
$green-300: #038225;
$green-400: #066920;
$green-700: #034a16;
$green-800: #024012;

$app-background: $green-400;
$text-color: $blue-600;
$btn-color: $green-100;
$modal-color: $green-300;
$shadow: $green-800;
$shadow-on-hover: $green-700;
