$black: #000;
$white: #FFF;
$gray: gray;
$gray-50: #E8E6E6;
$gray-100: #DFDDDE;
$gray-200: #D0D0D0;
$gray-300: #B3B3B3;
$blue-200: #00ADBB;
$blue-500: #004266;
$blue-600: #003F62;
$blue-800: #2C3E50;
$green-100: #08A130;
$green-200: #04912A;
$green-300: #038225;
$green-400: #066920;
$green-700: #034A16;
$green-800: #024012;

$app-background: $green-400;
$text-color: $blue-500;
$btn-color: $green-100;
$modal-color: $green-300;
$shadow: $green-800;
$shadow-on-hover: $green-700;
